# Configuración de la base de datos MySQL
MYSQL_DATABASE=control_asistencia
MYSQL_ROOT_PASSWORD=tu_contraseña_segura_aqui

# Configuración de Spring Boot
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=tu_contraseña_segura_aqui

# URL base para la generación de códigos QR
APP_QR_BASE_URL=http://localhost:8080