*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    background:
            linear-gradient(
                    rgba(0,0,0,0.75),
                    rgba(0,0,0,0.75)
            ),
            url('https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?q=80&w=1600');

    background-size:cover;
    background-position:center;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
}

.scanner-container{

    width:100%;
    max-width:700px;
    padding:20px;
}

.scanner-card{

    background:rgba(15,23,42,0.92);

    border-radius:28px;

    padding:40px;

    backdrop-filter:blur(15px);

    box-shadow:
            0 10px 40px rgba(0,0,0,0.45);

    text-align:center;
}

.scanner-header i{

    font-size:70px;

    color:#00b4ff;

    margin-bottom:20px;
}

.scanner-header h1{

    font-size:38px;

    margin-bottom:10px;
}

.scanner-header p{

    color:#cbd5e1;

    margin-bottom:30px;
}

.camera-box{

    background:#0f172a;

    padding:25px;

    border-radius:24px;

    margin-bottom:30px;
}

#reader{

    width:100%;
}

.resultado{

    margin-top:25px;

    background:#13233f;

    padding:18px;

    border-radius:15px;

    font-size:18px;

    font-weight:bold;

    color:#38bdf8;
}

.volver-btn{

    display:inline-flex;

    align-items:center;

    gap:10px;

    margin-top:30px;

    background:linear-gradient(
            135deg,
            #00b4ff,
            #0077ff
    );

    color:white;

    text-decoration:none;

    padding:14px 24px;

    border-radius:14px;

    font-weight:bold;

    transition:0.3s;
}

.volver-btn:hover{

    transform:translateY(-3px);
}